body {
    background-color: #e2e2e2;
    font-family: sans-serif;
}

h1, h2 {
    color:#03023d;
}

.jogador1 {
    color: #b41a81;
    font-size: 1rem;
    font-weight: bold;
}

.jogador2 {
    color: #5b6166;
    font-size: 1rem;
    font-weight: bold;
}

button {
    font-weight: bold;
    color:#03023d;
    
}

#gameBoard {
    background-color: #09468d;
    display: grid;
    grid-template-columns: 6rem 6rem 6rem;
    grid-template-rows: 6rem 6rem 6rem;
    gap: .5rem;
    margin-bottom: 1.5rem;
    max-width: 19rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gameBoard span {
    background-color: #03023d;
    display: grid;
    place-content: center;
    font-size: 5rem;
}

#gameBoard span.win {
    background-color: #eff315;
}

.cursor-pointer {
    cursor: pointer;
}